# Database
DATABASE_URL="mongodb://localhost/weather_report_development?directConnection=true"

# Secrets
SECRET1="c738ae7994beefaa296be06596789b1d"
SECRET2="dc70821b20fad3b469025c4debc44541"

# JWT
JWT_SECRET="your-secret-key-here"

# Server
PORT=4000
NODE_ENV="development"
